.Orders{
    height: 100%;
    width:100%;
    background: white;
}
.OrdersTitle{
    text-align: center;
}
.NoOrderBox{
    text-align: center;
}
.NoOrderBox p{
    font-size:1.2rem;
    color:#8b8484;
    font-weight: bold;
}