.LoginForm {
  height: max-content;
  width: 600px;
  background: white;
  margin: auto;
  margin-top: 12%;
  box-shadow: 4px 4px 4px 4px #dfdfdf;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding-top: 10px;
}

.LoginForm input {
  height: 40px;
  width: 80%;
  margin: 10px 50px 10px 50px;
  border: 1px solid #cccaca;
  border-radius: 4px;
  padding-left: 20px;
  font-size: 1.2rem;
}

.LoginForm h4 {
  font-size: 1.5rem;
  margin: 5px auto 5px auto;
}
.ErrorBox {
  margin: 10px 50px 10px 50px;
  border-radius: 10px;
  text-align: left;
  padding-left: 20px;
}

.ErrorBox h3 {
  color: red;
  font-size: 12px;
}

.ButtonDiv {
  text-align: center;
  margin-top: 10px;
}
.LoginForm button {
  width: 200px;
  height: 60px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #a445b2 0%,
    #d41872 52%,
    #ff0066 100%
  );
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 4px #dfdfdf;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.LoginForm p {
  text-decoration: underline;
  color: #ada7a7;
  cursor: pointer;
}
.LoginForm p:hover {
  color: #48cff8df;
}
